html, body {
    max-width: 100%;
    overflow-x: hidden;
} 

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden !important;  
}

#banner {
    margin-left: 50px;
}

#nav {
    position: relative; 
}

a { 
    color: white !important; 
}

.navbar-brand {
    color: white !important;    
    font-size: 2rem !important;  
 
}

main { 
    margin-top: 580px;    
    /*height: 100vh;   */
 }     

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
} 

.nav-item {
    margin-right: 5px;
} 