* {
    box-sizing: border-box;
    margin:0;
    font-family: Times;

}

        /* Main elements and modals */

html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
} 

main { 
    margin-top: 580px;    
}  

#indexBody {
    background-image: url('../backgrounds/World.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
    overflow: hidden;
}

#singleplayerBody {
    background-image: url('../backgrounds/arcade.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
    overflow: hidden;
}

#multiplayerBody {
    background-image: url('../backgrounds/Gaming.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
    overflow: hidden;
}

.hofModal {
    color: black;
    width: 30rem !important;
    height: 25rem !important;
    background-image: url('../backgrounds/Notebook.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-size: 30rem 30rem;
}  

.newDoc {
    width: 30rem !important;
    height: 25rem !important;
    background-image: url('../backgrounds/newDocument.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-size: 30rem 30rem;
}


.searchingModal {
    width: 30rem !important;
    height: 25rem !important;
    background-image: url('../backgrounds/People\ search-bro.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-size: 30rem 30rem;
}

.documentExists {
    width: 30rem !important;
    height: 25rem !important;
    background-image: url('../backgrounds/documentExists.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-size: 30rem 30rem;
}

.insufficientData {
    width: 30rem !important;
    height: 25rem !important;
    background-image: url('../backgrounds/needMore.gif'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-size: 30rem 30rem;
}

        /* Modal components*/

#rulesBody p{
    color: black !important;
}

.modal-header {
    background-color: #90caf9 !important;
}

.gameWindows { 
    margin-top: 10px !important;       
    margin-bottom: 0px !important;      
}  

.modal-lg {
    max-width: 80% !important;
} 

.table-info th {
    background-color: #90caf9 !important;
    border: none;
}

#winner {
    background-color: #90caf9 !important;
    text-align: center;
}

.mainWindows{
    height: 140px !important; 
}

.win {
    margin: 40px;
}

        /* Buttons */

.allButtons{ 
    margin-top: 5px; 
    height: 40px; 
    background-color: #90caf9 !important;
    color: #263138 !important;
}

#game {
    background-color: black !important;  
}

#startGame {
    margin-top: 0px; 
    margin-left: 78px !important;  
    width: 180px !important; 
    height: 40px; 
    background-color: #90caf9 !important;
    color: #263138 !important;
}

#answersSubmit{
    
    margin-left: 62px !important;  
    width: 180px !important;  
    background-color: #90caf9 !important;
    color: #263138 !important;
}

    /* Navigation */

#user {
    margin-top: 5px;
}

#banner {
    margin-left: 50px;
    color: #263138 !important;
}

#nav {
    position: relative; 
    
}

#navbarToggler {
    padding: 0 !important;
    margin-left: 150px !important;
    margin-right: 20px;
    position: absolute;
    right: 0px;
}

.navbar-brand {
    color: white !important;    
    font-size: 2rem !important;  
 
}

.nav-item {
    margin-right: 5px;

} 

        /* Game room components */

#letterWrapper {
    text-align: center;
    width: 80px !important;
    margin-bottom: 5px !important;
    margin-left: 14px;
    border-radius: 10% !important;
    background-color: #90caf9 !important;
    opacity: 0.8;
    padding: top;
}

#timerWrapper {
    text-align: center;
    min-width: 80px !important;
    margin-left: 50px !important;
    margin-right: 15px ;
    margin-bottom: 5px !important;
    border-radius: 10% !important;
    background-color: #90caf9 !important;
    opacity: 0.8;
}

#letterWrapperMulty {
    text-align: center;
    min-width: 80px !important;
    margin-left: 135px !important;
    margin-bottom: 5px !important;
    border-radius: 10% !important;
    background-color: #90caf9 !important;
    opacity: 0.8;
    padding: top;
}

#timerWrapperMulty {
    text-align: center;
    width: 80px !important;
    margin-left: 115px !important;
    margin-right: 135px !important;
    margin-bottom: 5px !important;
    border-radius: 10% !important;
    background-color: #90caf9 !important;
    opacity: 0.8;
}

#noMargins {
    margin-bottom: 0 !important;
}

        /* Inputs */
 
.categoryLabel {
    width: 60px !important;  
    margin: 2px 5px !important; 
    background-color: lightgray;
    color: black;
    opacity: 0.8; 
    padding-top: 8px;
}

.playerInputField {
    width: 190px !important; 
    height: 40px !important;    
    margin: 2px 5px !important;  
}

label {
    color: white; 
}

    /* Letters */

.letterC {
    color: black !important; 
}

#randomLetter {
    font-size: 6rem !important;  
}

#timer{
    font-size: 6rem !important;   
}
/*
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/
#one, #two, #three, #four, #five {
    font-size: 3rem;
}

    /* Swup*/

.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}
    
html.is-animating .transition-fade {
    opacity: 1; 
    transform: translateX(100%);
}
    
html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
    }

        /* chat */

#rps-wrapper {
    position: relative;
    margin-top: 68px;
    margin-right: 50px;
    height: 350px;
    width: 250px; 
}

#events {
    position: absolute;
    top: 20px;
    left: 20px; 
    background-color: white; 
    opacity: 0.9; 
    height: 250px;
    width: 220px;
    border-radius: 5%;
    overflow-y: scroll; 
}

.button-wrapper {
    position: absolute;
    bottom: 20px;
    left: 20px; 
}  

#chat {
    width: 150px !important; 
    height: 40px;
}

li {
    font-size: 1.5rem;
}

#chatButton {
    display: none;
}

#say {
    margin-top: 0px;
    margin-bottom: 4px;
}

        /* Footer */

#footer {
    background-color: black;
    text-align: center !important; 
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    margin: 0 !important;
    padding-bottom: 0;
} 

#footer p {
    
    font-weight: bold;
}

.icons {
    height: 25px !important;
    width: 25px !important;
    margin-left: 0px;
}

        /* Responsive settings*/

@media (max-width: 1080px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    #letterWrapperMulty {
        text-align: center;
        min-width: 50px !important;
        margin-left: 14px !important;
        margin-bottom: 10px !important;
        border-radius: 10% !important;
        background-color: #90caf9 !important;
        opacity: 0.8;
        padding: top;
    }
    #timerWrapperMulty {
        text-align: center;
        width: 50px !important;
        margin-left: 72px !important;
        margin-right: 0 !important;
        margin-bottom: 5px !important;
        border-radius: 10% !important;
        background-color: #90caf9 !important;
        opacity: 0.8;
    }
    #chatButton {
        display: block;
    }
    #chatDiv{
        position: relative; 
    }
    #rps-wrapper {
        width: 100%;
        margin-left: 40px;
    }
    
}   

@media (max-width: 700px) {
    .modal {
        padding: 0 !important; 
    }
    .modal .modal-dialog {
        width: 100% !important;
        max-width: none !important;
        margin: 0 !important;
    }
    .modal .modal-content {
        height: 100% !important;
        border: 0 !important;
        border-radius: 0 !important;
    }
    .modal .modal-body {
        overflow-y: auto !important;
    }
    #letterWrapperMulty {
        text-align: center;
        min-width: 150px !important;
        max-width: 150px !important;
        height: 160px !important;
        margin-bottom: 5px !important;
        border-radius: 10% !important;
        background-color: #90caf9 !important;
        opacity: 0.8;
        padding: top;
    }

    #timerWrapperMulty {
        text-align: center;
        min-width: 150px !important;
        max-width: 150px !important;
        height: 160px !important;
        margin-bottom: 5px !important;
        border-radius: 10% !important;
        background-color: #90caf9 !important;
        opacity: 0.8;
    }
    #banner { 
        width: 100px;
        margin: 0;
        font-size: 1.7rem !important;
    }
    #navbarToggler {
        position: relative;
        margin: auto !important;
        background-color: white;
        z-index: 99999;
    }
    .window {
        display: none; 
    } 
    #chatDiv{
        position: relative; 
    }
    #chatButton {
        display: block;
    }
    #rps-wrapper {
        width: 100%;
        margin: 0;
    }
    ul#events {
        width: 80% !important; 
        overflow-y: scroll;
        font-size: 20px !important;
    }
}

@media (max-width: 414px) {
    .nav-item {
        margin-top: 4px;
        width: 383px !important;

    }  
}

@media (max-width: 411px) {
    .nav-item {
        margin-top: 4px;
        width: 380px !important;

    }  
}

@media (max-width: 375px) {
    .nav-item {
        margin-top: 4px;
        width: 340px !important;

    }  
}

@media (max-width: 360px) {
    .nav-item {
        margin-top: 4px;
        width: 330px !important;

    }  
}   

@media (max-width: 320px) {
    .nav-item {
        margin-top: 4px;
        width: 285px !important;

    }  
} 